#app
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,div,span,header,footer,nav,section,aside,article,ul,dl,dd,li,a,p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption 
{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    //width包含padding和border
    box-sizing: border-box;
    //TODO非标准特性
    // -webkit-tap-highlight-color: transparent;
    //字体抗锯齿渲染
    // -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

// #nav {
//   padding: 30px;

//   a {
//     font-weight: bold;
//     color: #2c3e50;

//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }

//定义滚动条宽高以及背景  非标准定义
::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f5f5f5;
    // -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
}

//滑块
::-webkit-scrollbar-thumb
{
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;    
}

//兼容样式
input[type="button"],input[type="submit"],input[type="search"], input[type="reset"]
{
    -webkit-appearance: none;
}

textarea
{
    -webkit-appearance: none;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

// TODO 伪元素构造器 插入的元素为匿名,可替换的
.clear::after{
    content: '';
    display: block;
    //指定元素移动到浮动元素的下面
    clear: both;
}

//非标准
.clear{
    zoom: 1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    //上下0 水平居中,老版本适配
    margin:0 auto;
}

//将元素移动至左边临近的float布局标签下面
.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddingTop{
    padding-top: 1.95rem;
}

.margin_top{
    margin-top: 2-px;
}

//TODO 
@keyframes backOpacity{
    0% {opacity: 1}
    25% {opacity: .5}
    50% {opacity: 1}
    75% {opacity: .5}
    100% {opacity: 1}
}

// .animation_